.subject {
    font-size: 20px;
}

.column {
    padding: 0;
    margin: 3px;
}

.card {
    width: 99%;
    height: 99%;
    margin: 3px 3px 3px 3px;
    
}

.card-header {
    box-shadow: none;
}

.body {
    font-size: 16px;
}

.box {
  border-radius: 0px;
  margin: 3px;
  text-align: left;
}

.button {
    margin-right: 10px;
    border-radius: 0px;
}