<!--<section>-->
  <div>
    <button class="button is-medium is-primary" @click="showCompose = true">Compose</button>
    <div id="modal" class="modal" :class="{ 'is-active': showCompose }">
      <div class="modal-background" @click="showCompose = false"></div>
      <div class="box modal-content">
        <h2 class="title">Compose Email</h2>
        <label class="label">Subject</label>
        <p class="control">
          <input class="input" type="text">
        </p>
        <label class="label">Body</label>
        <p class="control">
          <input class="textarea">
        </p>
        <button class="button is-medium is-primary is-pulled-right">Send</button>
      </div>
      <button @click="showCompose = false" class="modal-close"></button>
    </div>
  </div>
<!--</section>-->