<div>
  <div class="welcome-mat">
  <div class="columns">
  <div class="column">
    First column
    <router-link class="" to="/email">
      <p>E-mail</p>
    </router-link>
  </div>
  <div class="column">
    Second column
    <router-link class="" to="/events">
      <p>Events</p>
    </router-link>
  </div>
  <div class="column" v-html="">
    <figure class="image">
      <img v-if="placesImage" v-bind:src= "placesImage" alt="">
    </figure>
    <router-link class="" to="/places">
      <p>Places</p>
    </router-link>
  </div>
  <div class="home-links">
  </div>
  </div>
</div>